<div class="container-login">
    <div class="container-content">
      <div class="icon-chat"></div>
      <div class="header-form">
        <div class="logo">
          <img src="../../assets/logo.png" alt="" />
        </div>
        <div class="slogan">
          <img src="../../assets/slogan-mb.png" alt="" />
        </div>
      </div>
      <div class="container-form">
        <div class="content-form">
          <div class="header-tab">
            <div class="content-header">
              <img src="../../assets/tab-dangky-mb.png" alt="" />
            </div>
          </div>
          <div class="field">
            <div class="icon">
              <img src="../../assets/icon-user.png" alt="" />
            </div>
            <div class="input">
              <input type="text" placeholder="Tên đăng nhập" />
            </div>
          </div>
          <div class="field">
            <div class="icon">
              <img src="../../assets/icon-lock.png" alt="" />
            </div>
            <div class="input">
              <input type="text" placeholder="Mật khẩu" />
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
          </div>
          <div class="field captcha">
            <div class="icon">
              <img src="../../assets/icon-captcha.png" alt="" />
            </div>
            <div class="input">
              <input type="text" placeholder="Nhập Captcha" />
            </div>
            <div class="bg-captcha">
                dHdka6
            </div>
          </div>
          <div class="field-btn">
           <div class="img">
           <a href="1">
            <img src="../../assets/btn-dangky.png" alt="" />
           </a>
           </div>
          </div>
        </div>
      </div>
      <div class="see-more">
        Xem thêm
      </div>
      <div class="download" >
        <a href="1">
          <img src="../../assets/btn-android.png" alt="" />
        </a>
      </div>
      <div class="text">
        Bản cài đặt đã đổi tên nhằm vượt qua sự kiểm duyệt.
      </div>
      <div class="text-img">
        <img src="../../assets/vuottuonglua.png" alt="" />
      </div>
      <div class="btn-1111">
        <img src="../../assets/btn-face1111.png" alt="" />
      </div>
    </div>
  </div>
  